<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/app.css' />
</head>

<body>
  <!-- HEADER -->
  <header>
    <a href="/">
      <img src="images/logo3.png" alt="caravan war">
    </a>
  </header>
  <div id="news">
    <a href="/news">
      <img src="images/news.svg" alt="news">
    </a>
  </div>
  <!-- MAIN -->
  <main>
    <div class="find">
      <form action="/find" method="POST">
        <input type="text" class="empty" name="id" id="key" placeholder="Entrez l'ID d'une simulation" pattern="^([a-z0-9]{4}-){4}[a-z0-9]{4}$"
          onchange="checkId()" required>
        <button class="button" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>

    <div class="col-12">
      <a href="/list">
        <button type="button" class="list">Listes des simulations</button>
      </a>
    </div>

    <div class="col-12">
      <button id="newSimulation" type="button" class="new">Nouvelle simulation</button>
    </div>

    <div class="col-12">
      <a href="/wiki">
        <button type="button" class="wiki">Wiki</button>
      </a>
    </div>

    <div id="selectSimulation">
      <div class="modal-content">
        <span class="close">
          <i class="fas fa-times"></i>
        </span>
        <div class="select">
          <a href="#">
            <img src="images/attack.svg" alt="Attack Logo">
            <p>Attaque</p>
          </a>
          <a href="#">
            <img src="images/defense.svg" alt="Defense Logo">
            <p>Défense</p>
          </a>
          <a href="#">
            <img src="images/map.svg" alt="Map Logo">
            <p>Carte</p>
          </a>
        </div>
      </div>
    </div>
  </main>

  <!-- FOOTER -->
  <footer>
    <div>
      <a href="https://play.google.com/store/apps/details?id=com.hikergames.caravanwar">
        <img src="images/android_fr.svg" alt="download android app">
      </a>
      <a href="https://itunes.apple.com/us/app/caravan-war/id1248777456?ls=1&mt=8">
        <img src="images/ios_fr.svg" alt="download ios app">
      </a>
    </div>

    <div>
      <p>All images belongs to
        <a href="http://www.caravanwar.com/">Caravan War</a> application.
        <br> Website by
        <a href="/">Elition</a>.</p>
    </div>
  </footer>

  <!-- JAVASCRIPT -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="javascripts/app.js"></script>
</body>

</html>