@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  height: 100vh;
  background-color: #282828;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  body header {
    padding-top: 10px;
    width: 100%;
    text-align: center; }
    body header a > img {
      width: 40%; }
  body main {
    width: 100%;
    text-align: center; }
    body main div > a > button, body main div #newSimulation {
      background-color: #fff;
      border: none;
      margin: 10px;
      padding: 10px;
      text-align: center;
      width: 500px;
      height: 70px;
      color: #282828;
      font-weight: bold;
      font-size: 28px;
      transition: background-color 0.8s, color 0.8s; }
    body main a:hover > button, body main #newSimulation:hover {
      color: #fff;
      background-color: #335ba5;
      text-decoration: none;
      cursor: pointer; }
    body main #selectSimulation {
      display: none;
      position: fixed;
      z-index: 9999;
      padding: 30px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.8); }
      body main #selectSimulation .modal-content {
        background-color: #fff;
        margin: auto;
        padding: 20px;
        border-radius: 2px;
        width: 80%; }
        body main #selectSimulation .modal-content .select {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around; }
          body main #selectSimulation .modal-content .select a {
            color: #282828;
            font-size: 25px;
            font-weight: bold;
            transition: 0.9s; }
            body main #selectSimulation .modal-content .select a:hover {
              text-decoration: none;
              color: #335ba5; }
              body main #selectSimulation .modal-content .select a:hover img {
                background-color: #335ba5; }
            body main #selectSimulation .modal-content .select a img {
              transition: 0.9s;
              background-color: #282828;
              width: 150px;
              padding: 25px;
              margin: 30px 30px 10px 30px; }
      body main #selectSimulation .close {
        color: #aaaaaa;
        text-align: right;
        font-size: 28px;
        font-weight: bold;
        transition: 0.9s; }
        body main #selectSimulation .close:hover, body main #selectSimulation .close:focus {
          color: #a52e2e;
          text-decoration: none;
          cursor: pointer; }
  body .find {
    margin: 10px auto;
    width: 500px; }
    body .find form {
      display: flex;
      justify-content: center; }
      body .find form input {
        height: 70px;
        width: 500px;
        text-align: center;
        border: none;
        margin-right: 10px;
        font-size: 28px; }
        body .find form input:focus {
          color: #fff;
          background-color: #335ba5; }
        body .find form input:focus::-webkit-input-placeholder {
          color: #fff;
          opacity: 0.7;
          font-size: 30px; }
      body .find form .empty {
        background-color: #fff; }
      body .find form .success {
        background-color: #218d4e;
        color: #fff; }
      body .find form .error {
        background-color: #a52e2e;
        color: #fff; }
      body .find form button {
        height: 70px;
        width: 80px;
        background-color: #fff;
        font-weight: bold;
        border: none;
        transition: background-color 0.8s, color 0.8s;
        font-size: 28px; }
        body .find form button:hover {
          color: #fff;
          background-color: #335ba5;
          text-decoration: none;
          cursor: pointer;
          transition: background-color 0.8s, color 0.8s; }
  body footer {
    padding: 25px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    body footer div {
      display: flex;
      text-align: center;
      justify-content: center;
      flex: 1 1 auto; }
      body footer div a:first-child {
        text-align: right; }
      body footer div a:last-child {
        text-align: left; }
      body footer div a {
        display: inline-block;
        padding: 0 10px; }
        body footer div a img {
          width: 150px;
          height: 45px;
          opacity: 1;
          transition: opacity 0.5s; }
          body footer div a img:hover {
            opacity: 0.8; }
      body footer div p {
        font-family: 'Source Sans Pro', sans-serif;
        margin-bottom: 0;
        margin-top: 10px; }
        body footer div p a {
          padding: 0; }
  body #news {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px; }
    body #news a {
      opacity: 1; }
      body #news a:hover {
        opacity: 0.8; }
      body #news a img {
        width: 75px; }

@media (min-width: 992px) {
  body header > a > img {
    width: 400px; }
  body main div #newSimulation {
    height: 50px;
    font-size: 23px;
    line-height: 25px; }
  body main div a button {
    height: 50px;
    font-size: 23px;
    line-height: 25px; }
  body main .find form input {
    height: 50px;
    font-size: 23px; }
    body main .find form input:focus::-webkit-input-placeholder {
      font-size: 23px; }
  body main .find form button {
    height: 50px;
    width: 60px; }
  body main #selectSimulation {
    padding: 0px; }
    body main #selectSimulation .modal-content {
      width: 60%; }
      body main #selectSimulation .modal-content .select a img {
        margin: 0px;
        width: 200px; }
  body footer div a > img {
    width: 200px;
    height: 60px; }
  body footer div p {
    margin-top: 0; } }
