$blue: rgb(51, 91, 165);
$lightblue: rgb(38, 146, 235);
$grey: rgb(40, 40, 40);
$gold: rgb(207, 180, 59);
$success: rgb(33, 141, 78);
$error: rgb(165, 46, 46);
$common: rgb(153, 153, 153);
$rare: rgb(66, 58, 189);
$epic: rgb(184, 55, 126);
$legendary: rgb(177, 162, 26);

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: $grey;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  header {
    padding-top: 10px;
    width: 100%;
    text-align: center;

    a > img {
      width: 40%;
    }
  }

  main {
    width: 100%;
    text-align: center;

    div > a > button, div #newSimulation {
      background-color: #fff;
      border: none;
      margin: 10px;
      padding: 10px;
      text-align: center;
      width: 500px;
      height: 70px;
      color: #282828;
			font-weight: bold;
			font-size: 28px;
      transition: background-color 0.8s, color 0.8s;
    }

    a:hover > button, #newSimulation:hover {
      color: #fff;
      background-color: $blue;
      text-decoration: none;
      cursor: pointer;
		}

		#selectSimulation {
      display: none;
      position: fixed;
			z-index: 9999;
			padding: 30px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
			background-color: rgba(0,0,0,0.8);

      .modal-content {
        background-color: #fff;
        margin: auto;
        padding: 20px;
				border-radius: 2px;
				width: 80%;

				.select {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-around;
					a {
						color: $grey;
						font-size: 25px;
						font-weight: bold;
						transition: 0.9s;
						&:hover {
							text-decoration: none;
							color: $blue;
							img {
								background-color: $blue;
							}
						}
						img {
							transition: 0.9s;
							background-color: $grey;
							width: 150px;
							padding: 25px;
							margin: 30px 30px 10px 30px;
						}
					}
				}
			}

			.close {
				color: #aaaaaa;
				text-align: right;
				font-size: 28px;
				font-weight: bold;
				transition: 0.9s;
				&:hover, &:focus {
					color: $error;
					text-decoration: none;
					cursor: pointer;
				}
			}
    }
  }

  .find {
		margin: 10px auto;
		width: 500px;
    form {
			display: flex;
			justify-content: center;
      input {
        height: 70px;
        width: 500px;
        text-align: center;
				border: none;
				margin-right: 10px;
				font-size: 28px;

        &:focus {
          color: #fff;
          background-color: rgb(51, 91, 165);
        }

        &:focus::-webkit-input-placeholder {
          color: #fff;
					opacity: 0.7;
					font-size: 30px;
        }
      }

      .empty {
        background-color: #fff;
      }

      .success {
        background-color: $success;
        color: #fff;
      }

      .error {
        background-color: $error;
        color: #fff;
      }

      button {
        height: 70px;
        width: 80px;
        background-color: #fff;
        font-weight: bold;
        border: none;
        transition: background-color 0.8s, color 0.8s;
        font-size: 28px;

        &:hover {
          color: #fff;
          background-color: rgb(51, 91, 165);
          text-decoration: none;
          cursor: pointer;
          transition: background-color 0.8s, color 0.8s;
        }
      }
    }
  }

  footer {
    padding: 25px;
    width: 100%;
    background-color: #fff;
    display: flex;
		flex-direction: row;
		flex-wrap: wrap;
    div {
      display: flex;
      text-align: center;
      justify-content: center;
      flex: 1 1 auto;
      a:first-child {
        text-align: right;
      }
      a:last-child {
        text-align: left;
      }
      a {
        display: inline-block;
        padding: 0 10px;
        img {
          width: 150px;
          height: 45px;
          opacity: 1;
          transition: opacity 0.5s;
          &:hover {
            opacity: 0.8;
          }
        }
      }

      p {
        font-family: 'Source Sans Pro', sans-serif;
        margin-bottom: 0;
        margin-top: 10px;
        a {
          padding: 0;
        }
      }
    }
  }

  #news {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    a {
      opacity: 1;
      &:hover {
        opacity: 0.8;
      }

      img {
        width: 75px;
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    header > a > img {
      width: 400px;
		}
		main {
			div {
				#newSimulation {
					height: 50px;
					font-size: 23px;
					line-height: 25px;
				}
				a {
					button {
						height: 50px;
						font-size: 23px;
						line-height: 25px;
					}
				}
			}
			.find {
				form {
					input {
						height: 50px;
						font-size: 23px;
						&:focus::-webkit-input-placeholder {
							font-size: 23px;
						}
					}
					button {
						height: 50px;
						width: 60px;
					}
				}
			}
			#selectSimulation {
				padding: 0px;
				.modal-content {
					width: 60%;
					.select {
						a {
							img {
								margin: 0px;
								width: 200px;
							}
						}
					}
				}
			}
		}
    footer {
      div {
        a > img {
          width: 200px;
          height: 60px;
        }

        p {
          margin-top: 0;
        }
      }
    }
  }
}